<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "fredbearsfamilydiner_sytem2_for_phone.com"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>five nights at fredbears phone version</name>

  <description>
      this is the phone version of five nights at fredbears
  </description>

  <author href="" email="">
      coolgamerfreddy
  </author>
<icon src="costume3.png" />

</widget>